RUNNER_IMAGE=ghcr.io/REPLACE_ME/starpilot-truenas-runner:latest
GITHUB_REPOSITORY_URL=https://github.com/REPLACE_ME/REPLACE_ME
RUNNER_NAME=starpilot-truenas-runner
RUNNER_LABELS=self-hosted,truenas,starpilot-build
RUNNER_WORKDIR=/runner/_work
RUNNER_TOKEN=REPLACE_WITH_ONE_TIME_GITHUB_RUNNER_TOKEN
RUNNER_DATA_PATH=/mnt/tank/apps/starpilot-runner
DOCKER_GID=
REMOVE_RUNNER_ON_EXIT=0
